<div class="container" ng-controller="projectsCtrl">
  <link rel="stylesheet" href="projects.css"  charset="utf-8">

  <div class="input-group">
    <input type="text" ng-model="filterSearch" class="form-control" placeholder="Search for..." aria-describedby="basic-addon1">
  </div>

  <div id="results-search" ng-repeat="project in listOfProjects | filter:filterSearch">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2><a ui-sref="singleProject" ng-click="filterByID(project.id)" lass="mdl-card__title-text">{{project.title}}</a></h2>
      </div>
      <div class="mdl-card__supporting-text">
        <img class="photoOfProject" ng-src="uploads/{{project.picture}}" width: "100px"; height="80px">
        {{project.description}}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a ui-sref="singleProject" ng-click="filterByID(project.id)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="">
          + MORE
        </a>
      </div>
    </div>
  </div>
</div>
