.container{
  width             : 100%;
}

/* Search Bar */
.input-group{
  width: 70%;
  margin-left: 15%;
  margin-top: 30px;
}

h2 a{
  color: white;
  text-decoration: none;
}

h2 a:hover{
  color: white;
  text-decoration: none;
}

.demo-card-wide.mdl-card {
  margin-top          : 50px;
  margin-left         : 10%;
  width               : 80%;
}
.demo-card-wide > .mdl-card__title {
  font-family         : 'Source Sans Pro', sans-serif;
  font-size           : 15px;
  color               : #fff;
  height              : 56px;
  background-color    : #90141d;
}

.mdl-card__supporting-text{
  font-family         : 'Source Sans Pro', sans-serif;
  font-size           : 15px;
}

.mdl-card__supporting-text img{
  margin-right        :10px;
  margin-bottom       :10px;
  float               : left;
  border-style        : solid;
  border-color        : #90141d;
  border-width        : 2px;
}

.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect{
  color               : #90141d;
}
/* End of Projects Cards*/
