<div class="container">
  <link rel="stylesheet" href="register.css"charset="utf-8">
  <link rel="stylesheet" href="dropzone.css" media="screen" title="no title" charset="utf-8">
  <script src="dropzone.js"></script>
  <script src="picture.js"></script>


  <a class="logout" ng-click="logout();">Logout</a>
  <h1>REGISTER A NEW PROJECT</h1>
  </br>
  <div ng-controller="registerCtrl">
    <uib-alert ng-show="isCollapsed" type="success" class="alert" close="closeAlert()">Your project was successfully registered!</uib-alert>
    <form role="form" name="form" method="post" action="">
      <div  class="row row-register">
        <div  class="col-md-2">
          <label class="control-label" for="inputSuccess1">Picture</label>
          <input type="hidden" ng-model="picturePath" class="picturePath" name="picturePath" value="">
          <div class="dropzone" id="myDropzone"></div>
        </div>
        <div class="col-md-10">
          <div class="form-group">
            <label for="title">Title</label>
            <input ng-required="required" type="text" class="form-control" id="professor" name="professor" ng-model="title" ng-model="clearAll" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="title" placeholder="" name="title" ng-model="description" ng-model="clearAll" rows="5" required></textarea>
          </div>
        </div>
    </div>
    <div class="row row-register">
      <div class="col-md-6">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" ng-model="email" ng-model="clearAll" placeholder="example@luc.edu" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="external_link">External Link</label>
          <input type="url" class="form-control" id="external_link" name="external_link" ng-model="externalLink" ng-model="clearAll" placeholder="http://www.example.com">
        </div>
      </div>
    </div>
    <div class="row row-register">
      <div class="col-md-4">
        <div class="form-group">
          <label for="area_study">Area of study</label>
          <select ng-init="areaList = areas[0]" class="form-control" ng-model="areaList" ng-options="area as area.label for area in areas" required>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="student">Students</label>
          <div class="studentMultiple">
            <div><input type="text" class="form-control student" name="student[]" ng-model="students" ng-model="clearAll" placeholder="Student's name"></div>
          </div>
          <button ng-hide="true" type="button" class="btn btn-secondary btn-sm add_student"><span class="glyphicon glyphicon-plus"></span> Add Student</button>
          <button ng-hide="true"type="button" class="btn btn-secondary btn-sm remove_student"><span class="glyphicon glyphicon-minus"></span> Remove </button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="faculty">Faculty</label>
          <div class="facultyMultiple">
            <div><input type="text" class="form-control faculty" name="faculty[]" ng-model="faculty" ng-model="clearAll" placeholder="Faculty's name"></div>
          </div>
          <button ng-hide="true" type="button" class="btn btn-secondary btn-sm add_faculty"><span class="glyphicon glyphicon-plus"></span> Add Faculty</button>
          <button ng-hide="true" type="button" class="btn btn-secondary btn-sm remove_faculty"><span class="glyphicon glyphicon-minus"></span> Remove </button>
        </div>
      </div>
    </div>
    <div class="row row-register">
      <div class="col-md-3">
        <div class="form-group">
          <label for="status">Status</label>
          <select ng-init="statusList = status[0]" class="form-control" ng-model="statusList" ng-options="status as status.label for status in status" required>
          </select>
        </div>
      </div>
      <div class="col-md-9 seekingStudents">
        <div class="form-group">
          <label for="prereq">Required Skills</label>
          <textarea type="text" class="form-control" id="prereq" name="prereq" ng-model="prerequisites" ng-model="clearAll" placeholder="Example: Data Structures and Algorithms, Discrete Structures, Python, OOP, etc." row="2"></textarea>
        </div>
      </div>
    </div>
    <div class="row row-register">
      <div class="col-md-12 seekingStudents">
        <div class="form-group">
          <label for="howToApply">How to aply?</label>
          <textarea class="form-control" name="howToApply" id="howToApply" ng-model="howToApply" ng-model="clearAll" rows="5"></textarea>
        </div>
      </div>
    </div>
    <div class="row row-register">
      <div class="form-group">
        <input id="submit" class="btnregister center-block" ng-click="insertDatabase($event)" name="submit" type="submit" value="Register" class="btn btn-primary">
      </div>
    </div>
  </div>
</div>
